<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <%= render(partial: '/accounts/summary', locals: { account: @account, current_user: current_user }) %>
    </div>
    <div class="col-lg-8">
      <div style="height: 40vh; overflow: auto">
        <table class="table">
          <thead>
            <tr>
                <th>Category</th>
                <th>To</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Created at</th>
            </tr>
          </thead>
          <tbody>
              <% for movement in @account.movements.order("movements.created_at desc") do %>
                <tr>
                  <td><%= movement.category.name %></td>
                  <td>
                  <% if can?(:read, get_destination(movement).account)%>
                    <%= link_to account_dashboard_path(get_destination(movement).account), class: "text-muted", "data-toggle" => "tooltip", "data-placement" => "right", title: "Go to account" do %>
                      <h6><%= fancy_uuid(get_destination(movement).id) %></h6>
                    <% end %>
                  <% else %>
                    <h6><%= fancy_uuid(get_destination(movement).id) %></h6>
                  <% end %>
                  </td>
                  <td class="text-right"><%= get_money(movement, movement.amount).format %></td>
                  <td class="text-right"><%= get_money(movement, movement.final_balance).format %></td>
                  <td><%= movement.created_at.to_formatted_s(:db)  %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <%= column_chart(get_category_data(@account), xtitle: "Amount", ytitle: "Category", prefix: "$") %>
    </div>
    <div class="col-md-6">
      <%= line_chart(get_final_balances(@account), xtitle: "Date", ytitle: "Balance", prefix: "$")%>
    </div>
  </div>
</div>