<p id='notice'><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Habilitado</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.enabled ? 'Si' : 'No' %></td>
        <td>
          <%= link_to(enable_user_path(user),
                      class: 'btn btn-sm btn-primary mr-2',
                      title: user.enabled ? 'Disable' : 'Enable') do %>
            <i class='material-icons'>
              <%= user.enabled ? 'toggle_on' : 'toggle_off' %>
            </i>
          <% end %>
          <%= link_to(user_path(user),
                      class: 'btn btn-sm btn-primary mr-2',
                      method: :delete) do %>
            <i class='material-icons'>delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
