<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Origin movement:</strong>
  <%= @transaction.origin_movement_id %>
</p>

<p>
  <strong>Target movement:</strong>
  <%= @transaction.target_movement_id %>
</p>

<%= link_to 'Back', transactions_path %>
