<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, 'error') %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Account Management Form</h4>
            <p class="card-category">Complete your account</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group bmd-form-group">
                    <%= form.label(:balance, class: 'bmd-label-floating') %></label>
                    <%= form.number_field(:balance, class: 'form-control') %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group bmd-form-group">
                    <%= form.label(:account_type, class: 'bmd-label-floating') %>
                    <%= form.text_field(:account_type, class: 'form-control') %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group bmd-form-group">
                    <%= form.label(:quota, class: 'bmd-label-floating') %>
                    <%= form.number_field(:quota, class: 'form-control') %>
                  </div>
                </div>
              </div>
              <%= form.submit('Summit new changes', class: 'btn btn-primary pull-right') %>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
