<p id="notice"><%= notice %></p>

<h1>Accounts</h1>
<div class="container-fluid">
  <div class="row">
    <% @accounts.each do |account| %>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">account_balance_wallet</i><!-- TODO: add icon by account type -->
          </div>
          <p class="card-category"><%= account.account_type %></p>
          <h3 class="card-title"><%= account.balance %>
            <small><%= account.balance_currency %></small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger"><%= account.quota %></i>
            <%= link_to 'Show', account %> <br>
            <%= link_to 'Edit', edit_account_path(account) %> <br>
            <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Account', new_account_path %>
